<div>

    <div>
        <p><em>Farjana Tuli</em>,
            <strong>farjanatuli2019@gmail.com</strong>,
            <span> My name is tuli. stay in Chittagong.I am a student of International Islamic University Chittagong.
                I am study in CSE.
            </span>
        </p>
    </div>
    <div>
        <p><em>"laudantium delectus nam"</em>,
            <strong>"Hildegard.Aufderhar@howard.com"</strong>,
            <span>"aut quam consequatur sit et\nrepellat maiores laborum similique voluptatem necessitatibus nihil\net
                debitis nemo occaecati cupiditate\nmodi dolorum quia aut"
            </span>
        </p>

    </div>


    <div>
        <p><em>"et sint quia dolor et est ea nulla cum</em>,
            <strong>"Leone_Fay@orrin.com"</strong>,
            <span>"architecto dolorem ab explicabo et provident et\net eos illo omnis mollitia ex aliquam\natque ut
                ipsum
                nulla nihil\nquis voluptas aut debitis facilis"
            </span>
        </p>
    </div>
</div>








