<div>

    
        <figure>
            <img src="https://via.placeholder.com/150/54176f" />
            <figcaption>Fig.1-purple colour</figcaption>
            <a href="https://via.placeholder.com/600/54176f" ,> Click here</a>
        </figure>
    

    
        <figure>
            <img src="https://via.placeholder.com/150/771796" />
            <figcaption>Fig.2-light purple colour</figcaption>
            <a href="https://via.placeholder.com/600/771796"> Click here</a>
        </figure>
    


    
        <figure>
            <img src="https://via.placeholder.com/150/f66b97" />
            <figcaption>Fig.3-pink colour</figcaption>
            <a href="https://via.placeholder.com/600/f66b97"> Click here</a>
        </figure>
    

</div>


