<ul>
    <li><input type="checkbox" checked="checked"><span>et porro tempora</span></li>
    <li><input type="checkbox"><span>quis ut nam facilis et officia qui</span></li>
    <li><input type="checkbox" checked="checked"><span>quo adipisci enim quam ut ab</span></li>
    <li><input type="checkbox"><span>illo expedita consequatur quia in</span></li>
</ul>